@using DM.Services.Core.Extensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Shared.GamesList.GameLink.GameNotification.PostExpectationNotificationViewModel
<a href="@Url.Action("LastUnread", "Post", new RouteValueDictionary {{"roomIdEncoded", Model.RoomId.EncodeToReadable()}})" title="@string.Join(", ", Model.Authors)" class="notification-marker" id="RoomNotification_@(Model.RoomId)">@IconFont.Render(IconType.Clock)</a>