@using DM.Web.Classic.Extensions.UserExtensions
@using DM.Web.Classic.ViewComponents.Shared.HumanDate
@model DM.Web.Classic.Views.Conversations.Messages.MessageViewModel
<div class="message-wrapper js-entity-wrapper@(Model.CanReport ? " js-message-to-report " : string.Empty)"
     id="Entity_@Model.MessageId" data-message-id="@Model.MessageId" data-entity-id="@Model.MessageId">
    <div class="message-date date">
        @if (Model.DisplayDate)
        {
            @await Component.InvokeAsync(nameof(HumanizedDate), new {date = Model.CreateDate})
        }
        else
        {
            @:&nbsp;
        }
    </div>
    <div class="message-author">
        @if (Model.DisplayName)
        {
            @Html.UserLink(Model.Sender)
        }
        else
        {
            @:&nbsp;
        }
    </div>
    <div class="message-text">
        @Html.Raw(Model.Text)
    </div>
</div>