@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@{
    ViewBag.Id = "PasswordRestorationSuccessMessage";
    ViewBag.Width = 400;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title">Восстановление пароля</h2>

На ваш e-mail выслано письмо с подтверждением. Проверьте свою почту!

<div class="form-controls-wrapper">
    @Html.Button("Ладно, сейчас проверю", new Dictionary<string, object> { { "class", "form-submit-button lightbox-close" } })
</div>