@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Account.RestorePasswordForm
@{
    ViewBag.Id = "RestorePasswordForm";
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title">Восстановление пароля</h2>

@using (Html.BeginForm("RestorePassword", "Account"))
{
    @:Введите e-mail, на который зарегистрирован ваш аккаунт, или ваш логин и нажмите кнопку "Восстановить пароль", чтобы получить письмо с дальнейшими инструкциями.
    <div class="form-field-wrapper">
        @Html.LabelFor(m => m.Email, "E-mail:", new Dictionary<string, object>{{"class", "form-field-label"}})
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, null, new Dictionary<string, object>{{"class", "field-validation-error-next-line"}})
    </div>
    <div class="form-controls-wrapper">
        @Html.Submit("Восстановить пароль", new Dictionary<string, object>{{"class", "form-submit-button"}})
        <a href="javascript:void(0)" class="lightbox-close">Отменить</a>
    </div>
}