@{
    ViewBag.Title = "Активация аккаунта не удалась";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/LeftBar/GeneralLeftColumn")
}
<h1 class="content-pageTitle">Активация учётной записи не удалась</h1>

В нашей системе нет аккаунта, который вы хотите активировать. Осторожнее вы с этим.

@section FooterScript
{
    <script>
        DM.Ready();
    </script>
}