.topic-data {
    margin: 10px 0;
}

.forum-topic-actions-link {
    float: right;
    font-size: 20px;
    color: #8a8a8a;
    cursor: pointer;
}
.forum-topic-action-links {
    display: none;
}

.forum-topic-action-links {
    display: none;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}
.forum-topic-action {
    display: block;

    padding: 6px 7px;
    border-top: 1px solid #ccc;
    cursor: pointer;
    color: #444;
    background: #fff;

    transition: all .2s;
}
.forum-topic-action:hover {
    background: #e9f0f9;
    color: #000;
}
.forum-topic-action:first-child {
    border-top: none;
    border-radius: 4px 4px 0 0;
}
.forum-topic-action:last-child {
    border-radius: 0 0 4px 4px;
}

.forum-topic-action-dropdown.dds-select {
    display: block;
}