.charactersList-characterWrapper {
    padding: 5px;
    margin: 10px 0 0;
}

.charactersList-characterPreview {
    overflow: hidden;
}
.character-avatar-wrapper {
    width: 50px;
    float: left;
    margin: 10px;
}
.character-avatar {
    width: 50px;
}
.charactersList-characterActions {
    float: left;
    margin: 3px 0;
}
.character-shortInfo {
    float: left;
    margin: 0 10px;
    width: 380px;
}

.charactersList-name {
    margin: 5px 0;
    font-size: 16px;
    color: #8a8a8a;
}
.charactersList-status {
    margin: 0 -10px;
    font-size: 12px;
    text-align: center;
}
.charactersList-characterInfoField { }
.charactersList-characterInfoFieldTitle {
    display: inline-block;
    width: 120px;
}
.charactersList-characterInfoFieldValue {
    display: inline-block;
}
.charactersList-characterInfoTitle {
    font-weight: bold;
    margin: 15px 0 3px;
}
.charactersList-characterInfo-text {
    font-size: 16px;
}