.picture {
    position: relative;
    text-align: center;
    line-height: 0;
    min-height: 140px;
}
.picture-image {
    max-width: 100%;
}

.picture-uploadForm {
    position: absolute;
    overflow: hidden;

    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.picture-uploadForm-input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 800px;
    opacity: 0;
}

.picture-uploadForm-description {
    display: block;
    opacity: 0;
    background: rgba(85, 85, 85, 0.5);
    cursor: pointer;
    color: #fff;
    line-height: 48px;
    height: 50px;
    font-size: 16px;
    transition: all 0.5s;
}
.picture:hover .picture-uploadForm-description {
    opacity: 1;
}

.picture-uploadForm-progress {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: rgba(85, 85, 85, 0.5);
}
.picture-uploadForm-progressBar-wrapper {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 1px solid #888;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.6);
}
.picture-uploadForm-progressBar {
    height: 100%;
    background: #36a;
    border-radius: 4px;
}
.picture-uploadForm-progressBar-fileName {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.picture-clear {
    display: block;
    position: absolute;
    visibility: hidden;

    top: 5px;
    right: 5px;
    padding: 14px 3px 15px 5px;
    font-size: 24px;

    background: rgba(85, 85, 85, 0.5);
    border-radius: 30px;
}
.picture-clear:hover {
    background: rgb(85, 85, 85);
}
.picture-clear span,
.picture-clear:hover span {
    color: white;
}
.picture:hover .picture-clear.shown {
    visibility: visible;
}