@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Conversations.CreateMessage.CreateMessageForm

@using (Html.BeginForm("Create", "Conversations", FormMethod.Post, new Dictionary<string, object> {{"id", "CreateForm"}, {"style", $"display:{(Model.CanWrite ? "block" : "none")};"}}))
{
    @Html.HiddenFor(m => m.ConversationId)
    <div class="createCommentary-wrapper">
        @await Html.SmartTextAreaFor(m => m.Text, Model.Parser,
            new Dictionary<string, object>
            {
                {"class", "commentary-textarea"},
                {"placeholder", "Введите текст сообщения и нажмите Ctrl+Enter, чтобы отправить"}
            })
    </div>
    @Html.Submit("Отправить сообщение", new Dictionary<string, object> {{"class", "form-submit-button"}})
}
<div class="content-noAccessMessage" style="display:@(Model.CanWrite ? "none" : "block")" id="IgnoredFormMessage">Вы не можете писать сообщения пользователю, если кто-то из вас игнорирует другого</div>