@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.CharactersList.Character.CharacterViewModel
@{
    ViewBag.Id = $"CharacterWrapper_{Model.CharacterId}";
    ViewBag.Width = 600;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}
@await Html.PartialAsync("~/Views/CharactersList/Character/Character.cshtml", Model)
<div class="form-controls-wrapper">
    @Html.Button("Закрыть", new Dictionary<string, object>{{"class", "form-submit-button lightbox-close"}})
</div>