@using DM.Web.Classic.Extensions.UserExtensions
@using DM.Web.Classic.ViewComponents.Shared.HumanDate
@model DM.Web.Classic.Views.Chat.Message.ChatMessageViewModel
<div class="chat-message-wrapper" data-date="@Model.CreateDate">
    <div class="chat-message-date">
        @if (Model.DisplayDate)
        {
            @await Component.InvokeAsync(nameof(FormatForChat), new{ date = Model.CreateDate })
        }
        else
        {
            @:&nbsp;
        }
    </div>
    @if (Model.DisplayName)
    {
        <div class="chat-message-author chat-message-author-@(Model.Author.IsOnline ? "online" : "offline")">@Html.UserLink(Model.Author, withBadge: true)</div>
    }
    else
    {
        <div class="chat-message-author">&nbsp;</div>
    }
    <div class="chat-message-text">@Html.Raw(Model.Text)</div>
</div>