@model DM.Web.Classic.Extensions.HtmlHelperExtensions.SmartTextAreaControlViewModel
@{
    var prompt = Model.TagInfo.Name == "img" || Model.TagInfo.Name == "link";
    var promptMessage = Model.TagInfo.Name == "img"
        ? "Введите ссылку на изображение:"
        : Model.TagInfo.Name == "link"
            ? "Введите URL ссылки:"
            : null;
}

<span class="smartTextArea-control" data-tag="@Model.TagInfo.Name" title="@Model.TagInfo.Name"
    @if (Model.TagInfo.WithAttribute)
    {
      <text> data-selfattr="true" </text>
      if (prompt)
      {
          <text> data-prompt="true" data-prompt-message="@promptMessage" data-default-value="" </text>
      }
    }
    @if (!Model.TagInfo.RequiresClosing)
    {
      <text> data-noclosetag="true" </text>
    }>
    @Model.RenderContent(Html)
</span>