@using DM.Web.Classic.Extensions.IconFontExtensions
@model DM.Web.Classic.Extensions.HtmlHelperExtensions.SmartTextAreaViewModel
<div class="smartTextArea-container">
    <div class="smartTextArea-controls" id="@(Model.TextAreaId)_Controls">
        @foreach (var tagInfo in Model.Tags)
        {
            @await Html.PartialAsync("SmartTextArea/Control", tagInfo)
        }
        <a href="javascript:void(0)" class="smartTextArea-help" title="Как это работает?">@IconFont.Render(IconType.HelpBook)</a>
    </div>
    @Model.TextArea
    <div>@Model.ValidationMessage</div>
</div>