.charactersList-characterWrapper {
    padding: 5px;
    margin: 10px 0 0;
}

.charactersList-characterWrapper:nth-child(even) {
    background: #fafafa;
}


.charactersList-characterPreview {
    position: relative;
    overflow: hidden;
}
.charactersList-characterPreview:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity .2s;

    user-select: none;
    font-family: Iconic!important;
    font-weight: normal!important;
    -webkit-font-smoothing: antialiased;
    content: '';
    font-size: 20px;
}
.charactersList-characterPreview:hover:after {
    opacity: 1;
}
.charactersList-characterPreview.charactersList-characterPreview-active:after {
    content: '';
}
.character-avatar-wrapper {
    width: 60px;
    float: left;
    margin: 10px;
}
.character-avatar {
    width: 100%;
}
.charactersList-characterActions {
    float: left;
    margin: 3px 0;
}
.character-shortInfo {
    float: left;
    margin: 0 10px;
    width: 380px;
}

.charactersList-name {
    margin: 5px 0;
    font-size: 16px;
    color: #8a8a8a;
}
.charactersList-status {
    margin: 0 -10px;
    font-size: 12px;
    text-align: center;
}
.charactersList-characterInfoField { }
.charactersList-characterInfoFieldTitle {
    display: inline-block;
    width: 120px;
}
.charactersList-characterInfoFieldValue {
    display: inline-block;
}
.charactersList-characterInfoTitle {
    font-weight: bold;
    margin: 15px 0 3px;
    color: #8a8a8a;
}

.charactersList-characterInfo {
    display: none;
}
.charactersList-characterInfo-text {
    font-size: 16px;
}