.votes-post-wrapper {
    margin: 20px 0;
}
.votes-post {
    font-size: 16px;
    padding: 7px;
    border: 1px solid #ddd;
    background: #fafafa;
}
.vote-post-commentary {
    margin: 10px 0;
    color: #8B532B;
}
.vote-post-data {
    margin-top: 10px;

    font-size: 12px;
    color: #8a8a8a;
}