.vote-sign-select {
    font-size: 20px;
}
.vote-sign-select input[type='radio'] {
    display: none;
}
.vote-sign-label {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-right: 10px;
    border: 1px solid #ccc;

    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.vote-sign-label:hover {
    background: #eee;
}
.vote-sign-label.selected {
    background: #36a;
    border-color: #36a;
    color: #fff;
}
.vote-sign-label-disabled {
    background: #eee;
    color: #ccc;
}
.vote-wrapper {
    margin: 10px 0 10px 40px;
}
.vote-data {
    font-size: 12px;
    color: #8a8a8a;
}

.vote-own {
    float: left;
    width: 20px;
    margin-left: -25px;

    font-size: 20px;
}