@using DM.Web.Classic.Extensions.UserExtensions
@using DM.Web.Classic.ViewComponents.Shared.HumanDate
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Conversations.List.Conversations.ConversationViewModel
<div class="conversations-message-wrapper">
    <div class="conversations-message-date date">
        @if (Model.UnreadMessagesCount > 0)
        {
            <div class="conversations-message-unread">+@Model.UnreadMessagesCount</div>
        }
        @await Component.InvokeAsync(nameof(HumanizedDate), new {date = Model.LastMessage.CreateDate, withTooltip = false})
    </div>
    <div class="message-author">
        @Html.UserLink(Model.LastMessage.Sender)
    </div>
    <a href="@Url.Action("LastUnread", "Conversations", new RouteValueDictionary {{"login", Model.Collocutor.Login}})" class="conversations-message-text">
        @if (Model.LastMessageIsOwn)
        {
            <div class="conversations-message-unread">вы:</div>
        }
        @Html.Raw(Model.LastMessage.Text)
    </a>
</div>