html, body {
    height: 100%;
    font-family: 'PT Sans', tahoma;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    word-wrap: break-word;
}
html {
    overflow: hidden;
}
a {
    color: #3F78A8;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #a33;
}
hr {
    display: block;
    height: 0;
    margin: 10px 0;
    border: none;
    border-top: 1px dashed #ccc;
}

ul, ol {
    list-style-position: inside;
}