@font-face {
    font-family: PT Sans, sans-serif;
    src: url('//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic');
}
@font-face {
    font-family: Iconic;
    src: url("/../fonts/Iconic/DM-eco-webfont-clean.ttf") format('truetype'),
         url("/../fonts/Iconic/DM-eco-webfont-clean.woff") format('woff'),
         url("/../fonts/Iconic/DM-eco-webfont-clean.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

.iconic {
    font-family: Iconic !important;
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
}

.base-unselectable {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none; /* Opera */
    user-select: none;
}