.form-field-group {
    margin: 20px 0;
}
.form-field-group-title {
    font-size: 16px;
}
.form-field-wrapper {
    display: block;
    margin: 10px 0;
}
.form-field-wrapper-disabled {
    color: #ccc;
}
.form-field-label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin-top: 5px;
}
.form-field-value {
    vertical-align: top;
}
.form-field-value-text {
    display: inline-block;
    padding-top: 5px;
}
.form-controls-wrapper {
    padding: 10px 25px;
    margin: 10px -25px -20px;
    border-radius: 0 0 3px 3px;
    background: #eee;
}
input[type='submit'].form-submit-button,
input[type='button'].form-submit-button {
    margin-right: 10px;
}

.field-validation-error.field-validation-error-next-line {
    display: block;
    margin: 3px 0 0 105px;
}

.form-field-dropdown {
    vertical-align: top;
}

/* sta == smart text area */
.form-field-sta-label {
    display: block;
    float: left;
    width: 150px;
    margin-top: 38px;
}
.form-field-sta-value {
    display: block;
    overflow: hidden;
}