@model DM.Web.Classic.Views.Conversations.List.Conversations.ConversationViewModel[]
@if (Model.Length > 0)
{
    foreach (var conversation in Model)
    {
        @await Html.PartialAsync("~/Views/Conversations/List/Conversations/Conversation.cshtml", conversation)
    }
}
else
{
    <div id="NoConversationsMessage">Вы еще ни с кем не вступали в переписку</div>
}