<div class="communityG-34 communityList-header">
    <div class="communityG-row">
        <div class="communityG-col-1 communityG-span-2">
            <div class="communityG-contentWrapper grid-number">#</div>
        </div>
        <div class="communityG-col-3 communityG-span-6">
            <div class="communityG-contentWrapper">Логин</div>
        </div>
        <div class="communityG-col-9 communityG-span-4">
            <div class="communityG-contentWrapper">Рейтинг</div>
        </div>
        <div class="communityG-col-13 communityG-span-3">
            <div class="communityG-contentWrapper">В сети</div>
        </div>
        <div class="communityG-col-16 communityG-span-9">
            <div class="communityG-contentWrapper">Имя</div>
        </div>
        <div class="communityG-col-25 communityG-span-10">
            <div class="communityG-contentWrapper">Местоположение</div>
        </div>
    </div>
</div>