.smartTextArea-help-text p {
    margin: 10px 0;
}
.smartTextArea-help-list {
    margin: 10px 0;
}
.smartTextArea-help-list-term {
    clear: left;
    float: left;
    margin-right: 20px;
}
.smartTextArea-help-list-description {
    overflow: hidden;
    margin-bottom: 10px;
}
.smartTextArea-help-image-wrapper {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.smartTextArea-help-image {
    display: block;
    width: 100%;
}