@using DM.Web.Classic.Extensions.IconFontExtensions
@{
    const int goal = 60000;
    const int current = 10965;
}
<h2 class="content-mediumTitle">@IconFont.Render(IconType.Ruble) Помочь проекту</h2>
<div class="donate-counter">
    <div class="donate-counter-percent" style="width:@(Math.Ceiling((double)current/goal*100))%;"></div>
    <div class="donate-counter-money">@current.ToString("## ###") / @goal.ToString("## ###") р.</div>
</div>

dm.am &ndash; некоммерческий проект.<br/>
<a href="@Url.Action("Donate", "Home")">Помогите нам</a> хотя бы не испортить его!
