@using DM.Web.Classic.Extensions.IconFontExtensions
@model DM.Web.Classic.Views.Polls.PollsViewModel
<h2 class="content-mediumTitle">
    Опросы
</h2>
@if (Model.CanCreate)
{
    <a href="@Url.Action("Create", "Polls")">
        @IconFont.Render(IconType.Add) Новый опрос
    </a>
}
@if (Model.Polls.Any())
{
    foreach (var poll in Model.Polls)
    {
        @await Html.PartialAsync("~/Views/Polls/Poll.cshtml", poll)
    }
    <a class="modulesList-allLink" href="@Url.Action("Index", "Polls")">
        К остальным опросам @IconFont.Render(IconType.DoubleRightAngle)
    </a>
}
else
{
    <div>Нет активных опросов</div>
}