.rules-list {
    list-style-position: outside;
    padding-left: 40px;
    margin-bottom: 40px;
}
.rules-list li {
    margin: 10px 0;
}
.donate-paragraph {
    margin: 20px 0;
}
.donate-block {
    margin: 10px 0;
}
.donate-quick {
    width: 200px;
    margin-right: 40px;
}
.donate-outline {
    clear: both;
}