.last-vote-wrapper {
    padding: 7px;

    border: 1px solid #ddd;
    background: #fafafa;
}
.last-vote-text {
    margin: 10px 0;
}

.best-post-commentary {
    margin: 10px 0;
    color: #8B532B;
}