@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Polls.CreatePollForm

@{
    ViewBag.Title = "Новый опрос";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/LeftBar/GeneralLeftColumn")
}

<h1 class="content-pageTitle">@ViewBag.Title</h1>

@using (Html.BeginForm("Create", "Polls", FormMethod.Post))
{
    <div class="form-field-wrapper">
        @Html.TextBoxFor(m => m.Text)
    </div>
    <div class="form-field-wrapper">
        @Html.TextAreaFor(m => m.Options)
    </div>
    @Html.Submit("Создать")
}

@section FooterScript
{
    <script>
        DM.Ready();
    </script>
}