@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using Microsoft.AspNetCore.Mvc.Rendering
@model DM.Web.Classic.Views.RoomsList.CreateRoom.CreateRoomForm
@using (Html.BeginForm("Create", "CreateRoom", FormMethod.Post, new Dictionary<string, object>{ { "id", "CreateRoomForm" } }))
{
    @Html.HiddenFor(m => m.GameId)
    <div>
        @Html.TextBoxFor(m => m.Title, "Название комнаты", null, null)
        @Html.Submit("Создать комнату", new Dictionary<string, object>{{"class", "smallButton form-submit-button"}})
    </div>
    @Html.ValidationMessageFor(m => m.Title)
}