@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Profile.EditorTemplates.EditInfoForm

@using (Html.BeginForm("EditInfo", "EditProfile", FormMethod.Post,
    new Dictionary<string, object>
        {
            {"id", "ProfileInfoForm"},
            {"class", "profile-edit-info-form"}
        }))
{
    @Html.HiddenFor(m => m.Login)
    @await Html.SmartTextAreaFor(m => m.Info, Model.Parser)
    <div class="profile-edit-info-actions">
        @Html.Submit("Сохранить", new Dictionary<string, object>{{"class", "form-submit-button"}})
        <a href="javascript:void(0)" id="CancelEditProfileInfoLink">Отменить</a>
    </div>
}