@model IEnumerable<DM.Web.Classic.Views.Conversations.Messages.MessageViewModel>
@if (Model.Any())
{
    foreach (var message in Model)
    {
        @await Html.PartialAsync("~/Views/Conversations/Messages/Message.cshtml", message)
    }
}
else
{
    <div id="NoMessagesMessage">Здесь еще никто ничего не написал</div>
}