/* .colorschema_classiccontrast */

/*MainText*/
.colorschema_classiccontrast html,
.colorschema_classiccontrast body {
    color: #333;
}
.colorschema_classiccontrast .foraList-item-description {
    color: #333;
}
.colorschema_classiccontrast .current-forum {
    color: #333;
}
.colorschema_classiccontrast a .icon-base-action {
    color: #333;
}
.colorschema_classiccontrast .current-module {
    color: #333;
}
.colorschema_classiccontrast .smartTextArea-control {
    color: #333;
}
.colorschema_classiccontrast a.dds-option-link {
    color: #333;
}

/*SecondaryText*/
.colorschema_classiccontrast input[type='submit'][disabled],
.colorschema_classiccontrast input[type='button'][disabled] {
    color: #999;
}
.colorschema_classiccontrast .charactersList-name {
    color: #999;
}
.colorschema_classiccontrast .chat-message-date {
    color: #999;
}
.colorschema_classiccontrast .chat-message-author-offline a {
    color: #999;
}
.colorschema_classiccontrast .chat-placeholder {
    color: #999;
}
.colorschema_classiccontrast .comment-lastUpdateMessage {
    color: #999;
}
.colorschema_classiccontrast .comment-data {
    color: #999;
}
.colorschema_classiccontrast .communityList-groupTitle {
    color: #999;
}
.colorschema_classiccontrast .content-minorTitle {
    color: #999;
}
.colorschema_classiccontrast .date {
    color: #999;
}
.colorschema_classiccontrast .userPresence-negative {
    color: #999;
}
.colorschema_classiccontrast .characterStatus-registration,
.colorschema_classiccontrast .characterStatus-left {
    color: #999;
}
.colorschema_classiccontrast .notificaion-unread-separator {
    color: #999;
}
.colorschema_classiccontrast .content-userLink-badge-wrapper {
    color: #999;
}
.colorschema_classiccontrast .dice-result-item {
    color: #999;
}
.colorschema_classiccontrast .dds-option-additionalData {
    color: #999;
}
.colorschema_classiccontrast .footer-copyright {
    color: #999;
}
.colorschema_classiccontrast .topicList-item-description {
    color: #999;
}
.colorschema_classiccontrast .topMenu-link {
    color: #999;
}
.colorschema_classiccontrast .topMenu-link-create:hover {
    border-color: #999;
}
.colorschema_classiccontrast .header-stats-counter {
    color: #999;
}
.colorschema_classiccontrast .conversation-actions-link {
    color: #999;
}
.colorschema_classiccontrast .conversation-action.conversation-actions-disabled {
    color: #999;
}
.colorschema_classiccontrast .placeholder {
    color: #999;
}
.colorschema_classiccontrast .post-dice {
    color: #999;
}
.colorschema_classiccontrast .vote-post-data {
    color: #999;
}
.colorschema_classiccontrast .profile-field-label {
    color: #999;
}
.colorschema_classiccontrast .quote-author {
    color: #999;
}
.colorschema_classiccontrast .private-message-header {
    color: #999;
}
.colorschema_classiccontrast .vote-data {
    color: #999;
}
.colorschema_classiccontrast .charactersList-characterInfoTitle {
    color: #999;
}

/*CommentText*/
.colorschema_classiccontrast .best-post-commentary {
    color: #7b532b;
}
.colorschema_classiccontrast .post-commentary {
    color: #7b532b;
}
.colorschema_classiccontrast .vote-post-commentary {
    color: #7b532b;
}

/*MainLinks*/
.colorschema_classiccontrast a {
    color: #304060;
}
.colorschema_classiccontrast .comment-likes {
    color: #304060;
}
/*FocusLinks*/
.colorschema_classiccontrast a:hover,
.colorschema_classiccontrast a:focus {
    color: #3f78a8;
}
/*Clocks*/
.colorschema_classiccontrast .module-messageRequired {
    color: #630;
}

/*Head1*/
.colorschema_classiccontrast .content-pageTitle {
    color: #666;
}
.colorschema_classiccontrast .content-mediumTitle {
    color: #666;
}
.colorschema_classiccontrast .logo-text {
    color: #666;
}
.colorschema_classiccontrast .info-head {
    color: #666;
}

/*Everything Red*/
.colorschema_classiccontrast .content-noAccessMessage {
    color: #933;
}
.colorschema_classiccontrast .rating-negative {
    color: #933;
}
.colorschema_classiccontrast .characterStatus-dead,
.colorschema_classiccontrast .characterStatus-declined {
    color: #933;
}
.colorschema_classiccontrast .notification-marker {
    color: #630;
}
.colorschema_classiccontrast .field-validation-error {
    color: #933;
}
.colorschema_classiccontrast .moduleRooms-error-message {
    color: #933;
}
.colorschema_classic .profile-list-mark-inactive {
    background-color: #933;
}
/*Everything Green*/
.colorschema_classiccontrast .chat-message-author-online a {
    color: #363;
}
.colorschema_classiccontrast .rating-positive {
    color: #363;
}
.colorschema_classiccontrast .userPresence-positive {
    color: #363;
}
.colorschema_classiccontrast .characterStatus-active {
    color: #363;
}
.colorschema_classiccontrast .content-userLink-badge {
    color: #363;
}
.colorschema_classiccontrast .logo-new-messages {
    color: #363;
}
.colorschema_classiccontrast .messages-success {
    color: #363;
}
.colorschema_classiccontrast .module-new {
    color: #363;
}
.colorschema_classiccontrast .profile-action-success {
    color: #363;
}
.colorschema_classiccontrast .private-message {
    color: #363;
}
.colorschema_classic .profile-list-mark-active {
    background-color: #363;
}

/*MessageBackgrd*/
.colorschema_classiccontrast .comment {
    background-color: #f2f1f0;
}
.colorschema_classiccontrast .conversations-message-wrapper:hover {
    background-color: #f2f1f0;
}
.colorschema_classiccontrast .foraList-item-link:hover {
    background-color: #f2f1f0;
}
.colorschema_classiccontrast .last-vote-wrapper {
    background-color: #f2f1f0;
}
.colorschema_classiccontrast .post-wrapper {
    background-color: #f2f1f0;
}
.colorschema_classiccontrast .post-wrapper.highlighted {
    background-color: #b0c4de;
}
.colorschema_classiccontrast .votes-post {
    background-color: #f2f1f0;
}
/*NewMessageBg*/
.colorschema_classiccontrast .message-wrapper.js-message-selected {
    background-color: #b0c4de;
}
.colorschema_classiccontrast .chat-master-post {
    background-color: #b0c4de;
}

/*Quote*/
.colorschema_classiccontrast .quote {
    background-color: #e6e6e5;
    border-left-color: #b0c4de;
}
/*Spoiler*/
.colorschema_classiccontrast .spoiler {
    background-color: #f5f5dc;
}

/*Buttons*/
.colorschema_classiccontrast input[type='submit'],
.colorschema_classiccontrast input[type='button'] {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast .conversations-message-unread {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast a:hover .icon-base-action {
    color: #444;
}
.colorschema_classiccontrast .conversation-action {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast .paginator-link {
    border-bottom-color: #444;
    color: #444;
}
.colorschema_classiccontrast .paginator-link:hover,
.colorschema_classiccontrast .paginator-link:focus {
    border-bottom-color: #3f78a8;
    color: #3f78a8;
}
.colorschema_classiccontrast .paginator-fixed .paginator-link {
    border-bottom-color: #fff;
    color: #fff;
}
.colorschema_classiccontrast a.profile-actions-link,
.colorschema_classiccontrast a.profile-actions-link:focus {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast .profile-action-success {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast .profile-picture-uploadForm-progressBar {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast .picture-uploadForm-progressBar {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast .vote-sign-label.selected {
    background-color: #eaeaea;
    border-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast a.profile-actions-link {
    background-color: #eaeaea;
    color: #444;
}
.colorschema_classiccontrast a.profile-actions-link .iconic.profile-actions-icon {
    color: #444;
    background-color: transparent;
}
.colorschema_classiccontrast a.profile-actions-link:hover {
    background-color: #444;
    color: #eaeaea;
}
.colorschema_classiccontrast a.profile-actions-link:hover .iconic.profile-actions-icon {
    background-color: transparent;
    color: #eaeaea;
}
.colorschema_classiccontrast input[type='submit']:hover,
.colorschema_classiccontrast input[type='button']:hover {
    background-color: #444444;
    color: #eaeaea;
}
.colorschema_classiccontrast .conversation-action:hover {
    background-color: #444444;
    color: #eaeaea;
}
.colorschema_classiccontrast input[type='submit'][disabled],
.colorschema_classiccontrast input[type='button'][disabled] {
    background-color: #f8f8f8;
    color: #bbb;
}