@model DM.Web.Classic.Views.Home.AboutViewModel
@{
    ViewBag.Title = "Форумные ролевые игры на Dungeonmaster";
    Layout = "~/Views/Shared/Layout/_ThreeColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}
@section RightColumn
{
    @await Html.PartialAsync("Layout/GeneralRightColumn")
}

<h1 class="content-pageTitle">О проекте</h1>

<div>
    Этот сайт посвящён всем, кто неравнодушен к ролевым играм. Если вы захотите отправиться в небольшое приключение &ndash; смело присоединяйтесь к игре или создайте свою собственную!<br/>
    Вести игроков сквозь хитросплетения сюжета или непосредственно окунуться в виртуальную реальность &ndash; выбор за вами!<br/>
</div>

<h2 class="content-mediumTitle">Почему на форуме?</h2>
<ul style="list-style-type: none;">
    <li>&mdash; Непрерывный процесс игры, Вы больше не должны ограничивать себя одним или двумя днями в неделю.</li>
    <li>&mdash; Участие в игре не требует одновременного сбора игроков в одном месте.</li>
    <li>&mdash; Возможность использовать для игры любой момент свободного времени.</li>
    <li>&mdash; Гарантия игры ради отыгрыша.</li>
    <li>&mdash; Возможность участвовать в нескольких играх одновременно.</li>
    <li>&mdash; Отсутствие необходимости изучения механики игры.</li>
</ul>

<h2 class="content-mediumTitle">Наши пользователи о нас</h2>
@if (Model.CanCreate)
{
    @await Html.PartialAsync("CreateReview/CreateReview", Model.CreateReviewForm)
}
<div id="ReviewsList">
    @if (Model.Reviews.Any())
    {
        @foreach (var review in Model.Reviews)
        {
            @await Html.PartialAsync("Reviews/Review", review)
        }
    }
    else
    {
        @:пока ничего не написали...
    }
</div>

@section FooterScript
{

    <script>
        var reviewsList = new DM.ReviewsListControl();
        DM.Ready();
    </script>
}
