@using DM.Web.Classic.Extensions.IconFontExtensions
@using Microsoft.AspNetCore.Routing
@{
    ViewBag.Title = "Помощь проекту | Dungeonmaster.ru";
    Layout = "~/Views/Shared/Layout/_ThreeColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}

@section RightColumn
{
    @await Html.PartialAsync("Layout/GeneralRightColumn")
}

<h1 class="content-pageTitle">Помощь проекту</h1>

<div class="donate-paragraph">
    DungeonMaster.ru &ndash; некоммерческий проект, он сделан и держится благодаря добровольцам &ndash;
    таким же игрокам, как и вы. Среди них есть и программисты (тролли-админы), которые копаются в шестеренках
    сайта в свое свободное время.
</div>
<div class="donate-paragraph">
    Они не только его постоянно латают, но и регулярно прикручивают новые приспособины, по возможности советуясь
    с вами, что куда и как, чтобы было хорошо.
</div>
<div class="donate-paragraph">
    Если вам тут понравилось и появилось желание помочь нашей штуковине, то лучший способ &nbsp; это рассказать
    о проекте друзьям, а потом подкинуть золота. Деньги пойдут на оплату хостинга, доменов и прочие затраты,
    так или иначе возникающие в жизни ДМа. Ну и троллям на эль, если останется @IconFont.Render(IconType.Smile)<br/>
    В конце концов, даже пара медях &nbsp; это здорово. Это значит, что штука нужна, что надо штуку сделать еще круче!
</div>

<h2 class="content-minorTitle" id="webmoney">WebMoney</h2>
<div class="donate-block">
    <div class="donate-requisites">
        WMR: R226209348466<br/>
        WMZ: Z219236430469<br/>
        WME: E395022000025<br/>
        WMU: U229488113236
    </div>
</div>

<hr class="donate-outline"/>

<h2 class="content-minorTitle" id="yd">Яндекс.Деньги</h2>

<div class="donate-block">
    <div class="donate-quick">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=41001203467445&quickpay=shop&writer=seller&targets=%D0%94%D0%BB%D1%8F+dungeonmaster.ru&default-sum=100&button-text=03&comment=on&hint=(%D0%BC%D0%BE%D0%B6%D0%B5%D1%82%D0%B5+%D0%B7%D0%B4%D0%B5%D1%81%D1%8C+%D0%B2%D0%B2%D0%B5%D1%81%D1%82%D0%B8+%D1%81%D0%B2%D0%BE%D0%B9+%D0%BD%D0%B8%D0%BA+%D0%BD%D0%B0+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B5)&successURL=" width="450" height="232"></iframe>
    </div>
    <div class="donate-requisites">или<br/>41001203467445</div>
</div>

<hr class="donate-outline"/>

<h2 class="content-minorTitle" id="sb">Перевод на карту сбербанка</h2>

<div class="donate-block">
    <div>67628038 9052447856, Александр Владимирович С.<br/>
        Большая просьба оставлять комментарий, что это для ДМ, чтобы я не путал с другими поступлениями</div>
</div>

<hr class="donate-outline" />

<h2 class="content-minorTitle" id="pp">PayPal (принимает банковские карты!)</h2>

<div class="donate-block">
    <div class="donate-quick">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T9LNL3QDNYZL2">
            <img src="https://www.paypalobjects.com/en_US/RU/i/btn/btn_donateCC_LG.gif" alt="Донат"/>
        </a>
    </div>
    <div class="donate-requisites">или<br/>evengard@trioptimum.ru</div>
</div>

<hr class="donate-outline"/>

<div class="donate-paragraph">Если есть вопросы или предложения - пишите администраторам.</div>
<div class="donate-paragraph">Лог всех пожертвований ведется
    @Html.ActionLink("на форуме", "LastUnread", "Topic",
        new RouteValueDictionary{{"topicIdEncoded", "dobrovolnye-pozhertvovaniya~u56_DFQKqkeh7yvrCwejtw"}}, null)
    Если в переводе озвучен игровой ник, он публикуется, в противном случае мы пишем, что перевод анонимен.
    Ваши реальные контактные данные не публикуются. Если вы перевели деньги, а в ближайшие несколько дней они
    не отразились на форуме или на счётчике пожертвований, напишите об этом, пожалуйста, админам, могла быть
    какая-то ошибка. За Яндекс.Деньги и Сбербанк отвечает Гримсон, за PayPal и WebMoney - Evengard, однако,
    если не удаётся застать одного, напишите и второму. Также можно подобное обращение делать через
    "сообщение об ошибке". <br/>По предпочтению (минимум потерь на проценты) на первом месте стоит Сбербанк,
    затем идут Яндекс.Деньги и Webmoney, сильно отстаёт PayPal.</div>

@section FooterScript
{
    <script>
        DM.Ready();
    </script>
}
