@using DM.Web.Classic.Extensions.IconFontExtensions
@{
    ViewBag.Title = "Правила проекта | Dungeonmaster.ru";
    Layout = "~/Views/Shared/Layout/_ThreeColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}
@section RightColumn
{
    @await Html.PartialAsync("Layout/GeneralRightColumn")
}

<h1 class="content-pageTitle">Правила проекта</h1>

<h2 class="content-mediumTitle">Вводная</h2>
<div>Для большинства участников проекта, Dungeonmaster.ru это не просто сайт в сети &ndash; это родной дом,
    уютное и любимое место. Чтобы не портить никому пребывание в этом месте, разработана система правил.
    Регистрируясь на сайте вы вроде как обязуетесь их соблюдать @IconFont.Render(IconType.Smile)</div>
<div>На самом деле, правила очень простые. Если просто мирно играть в игры, общаться в чате и на форуме,
    не пытаться ни с кем поругаться или на кого-то обидеться, вам никогда не придется сталкиваться
    с последствиями их нарушения!</div>

<h2 class="content-mediumTitle">Правила в деталях
    <span class="date" style="text-transform: initial; font-size: 12px; font-weight: normal;">ну вы сами напросились!</span></h2>

<h2 class="content-minorTitle">Общие положения</h2>
<ul class="rules-list">
    <li>Регистрируясь на Проекте, вы соглашаетесь с этими правилами и обязуетесь их выполнять</li>
    <li>Незнание правил не освобождает от ответственности</li>
    <li>Все участники Проекта равны между собой перед администрацией вне зависимости от рейтинга, длительности
        пребывания на Проекте, а также суммы добровольных пожертвований</li>
    <li>При принятии решений администрация руководствуется этими правилами (рекурсия!), но оставляет за собой право
        изменять и дополнять их список</li>
    <li>Конфликтные ситуации, не учтенные в правилах, решаются через администрацию в порядке личного обращения</li>
    <li>Только администрация вправе требовать от других участников Проекта соблюдения условий,
        не входящих в правила</li>
    <li>Мы тут любим всякий ролевой сленг, поэтому модераторы у нас называются "гоблинами", а администраторы
        "троллями". Привыкайте.</li>
</ul>

<h2 class="content-minorTitle">Штрафные баллы и баны</h2>
<ul class="rules-list">
    <li>За нарушение правил Проекта администрация выдаёт штрафные баллы и баны</li>
    <li>Если пользователь получает 6 штрафных баллов, ему выдаётся бан</li>
    <li>Иногда вместо штрафных баллов за небольшие нарушения пользователь может получить предупреждение
        (по решению администрации)</li>
    <li>Счётчик штрафных баллов пользователя будет со временем тухнуть, если он себя хорошо ведет и не получает
        новых штрафных баллов и банов</li>
    <li>При получении бана счётчик штрафных баллов тут же обнуляется</li>
    <li>Баны бывают: чата (нельзя писать в чате), демократический (нельзя писать в чате, на форуме и в
        обсуждениях чужих игр) и полный (ничего нельзя)</li>
    <li>В день пользователь может получить <strong>не более</strong> 6 баллов, но если в этот день он оторвался
        по полной и должен был нахватать больше 6 баллов, то срок его бана может быть удвоен или он может быть
        сделан полным</li>
    <li>Каждый следующий получаемый бан будет "строже" предыдущего. Все может закончиться полным баном
        до скончания вечности. Уууу!</li>
    <li>Но баны тоже тухнут со временем!</li>
    <li>
        Если последовательно вести себя очень плохо, то будет как-то так:
        <ol class="rules-list" style="margin-bottom:0;list-style-type:none;">
            <li>1й бан: 3 дня</li>
            <li>2й бан: 1 неделя</li>
            <li>3й бан: 2 недели</li>
            <li>4й бан: 1 месяц</li>
            <li>5й бан: 3 месяца</li>
            <li>6й бан: специальный приз (бан, тип и длительность которого определяется модераторами)</li>
            <li>7й бан: пожизненный полный бан</li>
        </ol>
    </li>
    <li>Вы также можете попросить выдать вам бан. Такое называется "согласованный" бан, и он не
        включается в шкалу выше. Тип и длительность выбираете вы сами. У нас это вообще частое явление, ага</li>
    <li>Наконец, существует механизм жалоб. Вы можете подать жалобу на конкретного пользователя через форму на странице
        его профиля, а также прямо в системе личных сообщений, выделив те сообщения, которые, на ваш взгляд,
        нарушают правила.</li>
</ul>

<h2 class="content-minorTitle">Игры</h2>
<ul class="rules-list">
    <li>Игры &ndash; чтобы играть. Исключительные случаи согласуются с администрацией</li>
    <li>В оформляемых играх наказуемыми считаются нарушения от 3-х баллов. В исключительных случаях могут быть
        рассмотрены и менее тяжёлые нарушения.</li>
    <li>Мастер проводит игры (в том числе набор игроков в модуле) так, как считает нужным, при условии
        соблюдения правил.</li>
    <li><strong>UPD</strong>: мастер может "изгнать" любого игрока из своей игры, добавив его в Черный список
        в настройках игры. Игрок при этом не сможет делать с игрой совершенно ничего. Даже не сможет
        информацию прочитать, но будет видеть игру во всяких списках.</li>
</ul>

<h2 class="content-minorTitle">Список нарушений <span class="date" style="text-transform: initial; font-size: 12px; font-weight: normal;">
    (от более серьезных к менее серьезным)
</span></h2>
<ul class="rules-list">
    <li><em>Попытка взлома сайта</em> &ndash; <strong>пожизненный полный бан</strong>
        сразу, если администрация считает намерения пользователя зловредными, или
        <strong>6 баллов с удвоением длительности соответствующего бана</strong>, если действия пользователя
        можно трактовать как баловство.
        <br/>
        Если вы желаете помочь администрации с поиском ошибок, просьба нас об этом предварительно предупредить.
        Без подобного предупреждения все попытки взлома сайта будут считаться сделанными умышленно с целью
        получения личной выгоды.</li>
    <li><em>Ботоводство/Мультиаккануты</em> &ndash; <strong>пожизненный полный бан</strong> для одного из аккаунтов и
        <strong>6 баллов</strong> другому, кроме случаев, оговоренных с администрацией.</li>
    <li><em>Несогласованная с администрацией реклама</em> &ndash;от <strong>6 баллов</strong> до
        <strong>пожизненного полного бана</strong> для аккаунтов, специально созданных в рекламных целях.</li>
    <li><em>Оскорбление</em> — <strong>6 баллов</strong><br/>
        Оскорбление — это прямое и публичное умышленное унижение чести и достоинства личности участника проекта.
        Оскорбление заключается в резко негативной оценке личности пользователя, его действий или убеждений,
        а также в преднамеренно порочащих обвинениях вне зависимости от степени их правдивости.<br/>
        Решение о причислении конкретного обращения к категории оскорблений остаётся за администрацией,
        которая руководствуется установленными на сайте правилами поведения и требованиями общечеловеческой морали.</li>
    <li><em>Публикация сообщений от забаненных пользователей</em> — <strong>5 баллов</strong><br/>
        Является извращением сути бана, который подразумевает изоляцию от общества. Те, кто получил полный бан,
        но хочет продолжать вести игры (что очень похвально), всегда имеют возможность назначить одного ассистента,
        обратившись к администрации.<br/>
        Иногда допустимо по согласованию с администрацией</li>
    <li><em>Провокация конфликтов, флейм</em> &ndash; <strong>3 балла</strong><br/>
        Негативные эпитеты в сторону наций и народов — это <a href="https://ru.wikipedia.org/wiki/%D0%AD%D1%82%D0%BD%D0%BE%D1%84%D0%BE%D0%BB%D0%B8%D0%B7%D0%BC">этнофолизмы</a>,
        названия наций и народов с уничижительными, пренебрежительными и ироничными нотками. Под спойлером мог бы
        находится пример таких слов, но его тут нет.
        <br>
        Флейм — «спор ради спора», обмен сообщениями, представляющий собой словесную войну, нередко уже не имеющую
        отношения к первоначальной причине спора. Часто применяется в контексте троллинга. Сообщения флейма могут
        содержать переходы на личности и зачастую направлены на дальнейшее разжигание ссоры.
        <br>
        Этнофолизмы в играх (помимо страницы описания модуля) — на усмотрение мастера.</li>
    <li><em>Публичная критика или обсуждение причин административных решений</em> &ndash; <strong>3 балла</strong><br/>
        Административные решения включают в себя выдачу предупреждений, баллов и банов, но не ограничиваются этим.
        Если вы не согласны с решениями, вы можете использовать механизм жалоб (см. примечание выше).</li>
    <li><em>Русский мат</em> &ndash; <strong>2 балла</strong>. В том числе написанный с искажениями или завуалированный.<br/>
        <a href="https://ru.wikipedia.org/wiki/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9_%D0%BC%D0%B0%D1%82">Русский мат</a>
        (в том числе написанный с искажением или завуалированный) включает в себя 4 слова, принятых РКН матерными,
        их производные, а также аббревиатуры и сокращения, образованные из них. Завуалированный или искаженный мат
        &ndash; это, например, замена части букв в матерном слове или корне другими буквами или символами.
        ("хл3б", "hleb", "хл*б", "х***"). Допустимым считается такой вариант авторской цензуры, при котором
        слово полностью закрыто символами ("****").<br/>
        Некоторые слова и аббревиатуры, не считающиеся матерными: хер, хрен, емана, епта, етить, едрить, йопт,
        нах (нахрен), пох (похрен), ппц, мудак, звездец/трындец/капец/пипец, чзх (что за хрень), хз (хрен знает).<br/>
        В играх (помимо страницы описания) &ndash; на усмотрение мастера<br/>
        Ссылка на внешний ресурс, снабжённая предупреждением о характере контента, не попадает под эту категорию</li>
    <li><em>Материалы порнографического характера и/или шок-контент</em> &ndash; <strong>2 балла</strong><br/>
        В модуле (помимо страницы описания модуля) — на усмотрение мастера.<br/>
        Ссылка на внешний ресурс, снабжённая предупреждением о характере контента, не попадает под эту категорию.</li>
    <li><em>Флуд / вайп</em> &ndash; <strong>2 балла</strong><br/>
        Флуд — нетематические сообщения, зачастую занимающие большие объёмы. В частности, это отправка большого
        количества однотипных сообщений в чат или же сообщений, ломающих его.<br/>
        Вайп — создание на форуме большого количества бессодержательных тем.<br/>
        В игре — контролируется мастером, в том числе, путем удаления сообщений и/или добавлением нарушителя
        в черный список.<br/>
        К этому виду нарушений может быть также отнесено чрезмерно частое поднятие своей темы в наборе (хотя обычно
        сначала последует предупреждение) или повторяющийся оффтоп после полученного предупреждения.</li>
    <li><em>Оффтоп</em> &ndash; <strong>1 балл</strong><br/>
        Оффтоп — сообщение, выходящее за рамки заранее установленной темы общения. Например, запись,
        не соответствующая либо общему направлению форума, либо той теме, в рамках которой запись оставлена.<br/>
        В модуле — контролируется мастером, в том числе, путём удаления сообщений и/или просьбой покинуть обсуждение.<br/>
        Не карается в чате и на форуме "Под столом".</li>
</ul>

@section FooterScript
{
    <script>
        DM.Ready();
    </script>
}
