@using DM.Services.Core.Dto.Enums
@using DM.Web.Classic.Extensions.IconFontExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Shared.GamesList.PlayerGamesListViewModel
<h2 class="content-mediumTitle">Мои игры</h2>
@if (Model.RequiresPremoderationGames.Any())
{
    <h3 class="content-minorTitle">Ожидают премодерации</h3>
    <ul class="leftMenu-list">
        @foreach (var module in Model.RequiresPremoderationGames)
        {
            @await Html.PartialAsync("~/Views/Shared/GamesList/GameLink/GameLink.cshtml", module)
        }
    </ul>
}
@if (Model.PremoderatingGames.Any())
{
    <h3 class="content-minorTitle">Премодерирую</h3>
    <ul class="leftMenu-list">
        @foreach (var module in Model.PremoderatingGames)
        {
            @await Html.PartialAsync("~/Views/Shared/GamesList/GameLink/GameLink.cshtml", module)
        }
    </ul>
}

@if (Model.MasterGames.Any())
{
    <h3 class="content-minorTitle">Веду</h3>
    <ul class="leftMenu-list">
        @foreach (var module in Model.MasterGames)
        {
            @await Html.PartialAsync("~/Views/Shared/GamesList/GameLink/GameLink.cshtml", module)
        }
    </ul>
}
@if (Model.CharacterGames.Any())
{
    <h3 class="content-minorTitle">Играю</h3>
    <ul class="leftMenu-list">
        @foreach (var module in Model.CharacterGames)
        {
            @await Html.PartialAsync("~/Views/Shared/GamesList/GameLink/GameLink.cshtml", module)
        }
    </ul>
}
@if (Model.ReaderGames.Any())
{
    <h3 class="content-minorTitle">Читаю</h3>
    <ul class="leftMenu-list">
        @foreach (var module in Model.ReaderGames)
        {
            @await Html.PartialAsync("~/Views/Shared/GamesList/GameLink/GameLink.cshtml", module)
        }
    </ul>
}
<ul class="leftMenu-list">
    <li class="leftMenu-list-item">
        <a class="modulesList-allLink" href="@Url.Action("Index", "ModulesList", new RouteValueDictionary {{"status", GameStatus.Active}})">
            Все активные игры @IconFont.Render(IconType.DoubleRightAngle)
        </a>
    </li>
</ul>