@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Home.CreateReview.CreateReviewForm

<div class="create-review-wrapper">
    <div id="CreateReviewMessage" class="create-review-message">Ваш отзыв успешно отправлен. После того как модераторы его проверят, отзыв появится в общем списке и, с некоторой вероятностью, на главной странице</div>
    @Html.Submit("Отправить отзыв", new Dictionary<string, object>{{"id", "CreateReviewLink"}})
    @using (Html.BeginForm("Create", "Review", FormMethod.Post, new Dictionary<string, object>
    {
        {"id", "CreateReviewForm"},
        {"class", "create-review-form"}
    }))
    {
        <div class="create-review-text">
            @await Html.SmartTextAreaFor(m => m.Text, Model.Parser, new Dictionary<string, object>
            {
                {"id", "CreateReviewText"},
                {"placeholder", "Напишите, что вы думаете о нашем проекте и нажмите кнопку \"Отправить\""}
            })
        </div>
        @Html.Submit("Отправить отзыв", new Dictionary<string, object>{{"class", "form-submit-button"}})
        <a href="javascript:void(0)" id="CreateReviewCancel">Отменить</a>
    }
</div>