.create-post-characterLabel {
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 0 0;
}
.form-field-sta-label.create-post-label {
    width: 90px;
}

.edit-post-form .dice-result {
    margin-bottom: 10px;
}
.dice-removeLink {
    margin-left: 5px;
}


.dice-select {
    width: 35px;
    vertical-align: top;
}
.dice-bonus-input {
    width: 40px;
}
.dice-throws-input {
    width: 24px;
}
.dice-comment {
    width: 145px;
}
.dice-checkbox-label {
    display: inline-block;
    margin-left: 5px;
}
.dice-checkbox {
    margin: 0;
    vertical-align: middle;
}
.dice-blast-placeholder {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.dice-result {
    padding: 0 4px;
}
.dice-result-item {
    margin: 5px 0;
    font-size: 14px;
    color: #8a8a8a;
}
.dice-result-roll-critical {
    font-weight: bold;
}