.post-wrapper {
    position: relative;
    margin: 10px 0;
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 5px;
    overflow: hidden;

    transition: background-color 0.2s;
}
.post-actions {
    opacity: 0;
    position: absolute;
    bottom: 5px; right: 5px;

    transition: opacity .2s;
}
.post-wrapper:hover .post-actions {
    opacity: 1;
}
.post-number {
    display: inline-block;
    margin-left: 5px;
}

.post-info {
    float: left;
    width: 130px;
    margin-right: 20px;
}
.post-info-characterName-master {
    font-weight: bold;
}
.post-info-character-picutre-wrapper {
    margin: 5px 0;
}
.post-info-character-picture {
    max-width: 100%;
    max-height: 200px;
}

.post-content {
    overflow: hidden;
    padding-bottom: 20px;
}
.post-text {
    font-size: 16px;
}
.post-dice {
    margin: 10px 0;
    color: #8a8a8a;
    font-size: 14px;
}
.post-commentary {
    font-size: 16px;
    margin: 10px 0;
    color: #8B532B;
}

.post-mastermessage {
    margin-top: 10px;
    color: #000;
    font-size: 16px;
}
