.chat-wrapper {
    padding: 3px 0;
    margin-bottom: 10px;
    height: 550px;
    overflow-y: scroll;

    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 0 #eee;
}
.chat-message-wrapper {
    overflow: hidden;
    padding: 3px 10px;
}
.chat-message-date {
    float: right;
    margin: 2px 0 0 10px;
    font-size: 12px;
    color: #8a8a8a;
}
.chat-message-author {
    float: left;
    width: 80px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-message-author-online a {
    color: #337b33;
}
.chat-message-author-offline a {
    color: #8a8a8a;
}

.chat-message-text {
    overflow: hidden;
}

.chat-wrapper .human-date-tip {
    left: auto;
    right: 100%;
    margin-left: auto;
    margin-right: 5px;
}


.chat-placeholder-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.chat-placeholder-wrapper:before {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.chat-placeholder {
    vertical-align: middle;
    font-size: 18px;
    color: #8a8a8a;
}

.chat-createForm {
    margin-left: 130px;
}