.chat-wrapper {
    position: relative;
}
.chat-master-post {
    background: #e9f0f9;
}
.chat-post-character {
    float: left;
    width: 120px;
    margin-right: 20px;
}
.chat-master-post-character {
    font-weight: bold;
}
.chat-message-author {
    width: 100px;
}