@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@model DM.Web.Classic.Views.GameNotepad.GameNotepadForm
<div id="NotepadContainer" class="notepad-container">
    <a href="javascript:void(0)" id="NotepadEditLink" class="notepad-editLink">@IconFont.Render(IconType.Edit)</a>
    <div id="NotepadTextContainer">
        @Html.Raw(Model.NotepadHtml)
    </div>
</div>
@using (Html.BeginForm("Edit", "GameNotepad", FormMethod.Post, new Dictionary<string, object> {{"id", "NotepadEditForm"}}))
{
    @Html.HiddenFor(m => m.GameId)
    @await Html.SmartTextAreaFor(m => m.Notepad, Model.Parser)
    <div class="form-field-wrapper">
        @Html.Submit("Сохранить", new Dictionary<string, object> {{"class", "form-submit-button"}})
        <a href="javascript:void(0)" id="NotepadCancelLink">Режим чтения</a>
    </div>
}