.profile-ban-info-wrapper-active {
    background-color: #fee;
    border: solid 1px #ecc;
    margin-left: -10px;
    padding: 10px 10px 0;
}

.profile-ban-short {
    color: #990000;
    margin: 10px 0;
}