.profile-mainInfo {
    float: left;
    width: 240px;
    margin-right: 20px;
}
.profile-roles {
    display: inline-block;
    margin-left: 10px;
}
.profile-status {
    margin: 5px 5px 15px 5px;
}
.profile-field-wrapper {
    margin: 10px 0;
}
.profile-field-label {
    display: inline-block;
    width: 110px;
    color: #8a8a8a;
}
.profile-field-value {
    display: inline-block;
}

.profile-data {
    overflow: hidden;
    max-width: 600px;
}
.profile-data-tabs {
    margin-bottom: 10px;
}

.profile-module-characters-list {
    padding: 7px;
    overflow: auto;
}
.profile-module-characters-list:nth-child(even) {
    background: #fafafa;
}
.profile-module-characters-list-module {
    float: right;
    margin-left: 20px;
    max-width: 50%;
}
.profile-module-characters-list-characters {
    overflow: hidden;
}
.profile-list-link {
    vertical-align: baseline;
}
.profile-list-mark {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    vertical-align: baseline;
    opacity: .8;
}
.profile-list-mark-active {
    background-color: #337b33;
}
.profile-list-mark-pending {
    background-color: #e0bb31;
}
.profile-list-mark-inactive {
    background-color: #990000;
}
.profile-module-characters-list-disclaimer {
    margin-bottom: 10px;
}
.profile-list-mark-disclaimer {
    display: inline-block;
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
}

.profile-data-value-wrapper {
    padding: 5px 0 5px 5px;
}
.profile-edit-data-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile-edit-link {
    display: block;
    float: right;
    margin-left: 20px;
}
.profile-edit-info-form {
    display: none;
}
.profile-edit-info-actions {
    margin-top: 10px;
}
.profile-edit-data-form {
    display: none;
}
.profile-edit-data-dropdown,
.profile-edit-data-input {
    width: 180px;
}
.profile-edit-data-submit {
    margin-left: 10px;
}
.profile-edit-data-cancel {
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.profile-settings-perPage {
    margin-left: 10px !important;
}
.profile-settings-group {
    margin-top: 20px !important;
}

.profile-field-warnings-active {
    color: #a88100;
    font-weight: bold;
}

.profile-field-warnings-bannable {
    color: #900;
    font-weight: bold;
}