.profile-actions {
    margin: 20px 0;
}
a.profile-actions-link,
a.profile-actions-link:focus {
    display: block;
    position: relative;

    width: 200px;
    padding: 7px 10px 7px 40px;
    margin: 7px 0 7px -10px;

    background: #36a;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
}
a.profile-actions-link:hover {
    background: #a8cbff;
    color: #000;
}
a.profile-actions-link .iconic.profile-actions-icon {
    color: #fff;
}
a.profile-actions-link:hover .iconic.profile-actions-icon {
    color: #000;
}
.profile-actions-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;

    font-size: 20px;
}

.profile-action-success {
    color: #337b33;
    width: 233px;
    display: none;
    margin-top: -7px;
    border: 1px solid #36a;
    border-top: none;
    margin-left: -8px;
    margin-right: -18px;
    padding: 3px 5px;
    border-radius: 0 0 5px 5px;
}