@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@{
    ViewBag.Id = "__Alert__";
    ViewBag.Width = 400;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title">@IconFont.Render(IconType.Warning) Внимание!</h2>

<div id="__Alert__Text"></div>

<div class="form-controls-wrapper">
    @Html.Button("OK", new Dictionary<string, object>{{"id", "__Alert__Ok"}, {"class", "form-submit-button lightbox-close"}})
</div>