@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@{
    ViewBag.Id = "__Confirm__";
    ViewBag.Width = 400;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title" id="__Confirm__Title">Вы уверены?</h2>

<div id="__Confirm__Text"></div>

<div class="form-controls-wrapper">
    @Html.Button("Да, продолжить", new Dictionary<string, object>{{"id", "__Confirm__True"}, {"class", "form-submit-button"}})
    <a href="javascript:void(0)" class="lightbox-close" id="__Confirm__False">Отменить</a>
</div>