@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@{
    ViewBag.Id = "__Prompt__";
    ViewBag.Width = 400;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title-minor" style="margin-bottom: 10px;" id="__Prompt__Text"></h2>

<input type="text" class="form-long-input" id="__Prompt__Value"/>

<div class="form-controls-wrapper">
    @Html.Button("Готово", new Dictionary<string, object>{{"id", "__Prompt__True"}, {"class", "form-submit-button"}})
    <a href="javascript:void(0)" class="lightbox-close">Отменить</a>
</div>