/// Grid
$gridStep = .25rem
$tiny = $gridStep / 2
$minor = $gridStep
$small = 2 * $gridStep
$medium = 4 * $gridStep
$big = 8 * $gridStep
$major = 16 * $gridStep
$large = 32 * $gridStep

/// Sizes
$layoutNav = 3 * $medium

/// layout
$maxWidth = 1400px
$minWidth = 1000px
$headerHeight = 90px
$footerHeight = 90px

/// Animations
$animationTime = .2s
$slideUpHeight = 2000px

$fontSize = 1rem
$textFontSize = 1rem
$titleFontSize = 1.25rem
$secondaryFontSize = .75rem
