.footerWrapper {
    height: 40px;
    background: transparent url('/../../images/footer_bg.gif') 0 15px repeat-x;
    margin-top: -90px;
    padding-top: 50px;
}

.footer-copyright {
    color: #8a8a8a;
}