.contentHeader {
    overflow: hidden;
    padding: 10px 0;
    height: 70px;
}

.header-userInfo {
    white-space: nowrap;
}
.logo-text {
    color: #630;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.logo {
    display: block;
    margin-top: 3px;
    width: 242px;
    height: 26px;
    background: transparent url('/../../images/logo.gif') 0 0 no-repeat;
}
.logo-image {
    width: 100%;
    height:100%;
}
.logo-new-messages {
    color: #337b33;
    font-weight: bold;
}

.header-topMenu {}
.topMenu-link {
    display: inline-block;
    margin: 18px 10px 0 0;
    padding: 3px 5px 5px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #8a8a8a;
}
.topMenu-link:hover {
    color: #444;
}

.topMenu-link-create {
    transition: all .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
}
.topMenu-link-create:hover {
    border-color: #8a8a8a;
}

.topMenu-notifications {
    font-size: 18px;
}
.header-stats {
    margin-top: 5px;
}
.header-stats-counter {
    color: #8a8a8a;
}
.header-stats-counter-new {
    color: #363;
}