@using DM.Services.Core.Extensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@using DM.Web.Classic.Views.GameActions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.GameActions.GameRooms.GameRoomsViewModel
@if (Model.IsDefaultRoom)
{
    var singleRoom = Model.Rooms.First();
    @:-
    if (singleRoom.HasNotification)
    {
        @IconFont.Render(IconType.Clock, new Dictionary<string, object>{{"class", "notification-marker"}, {"id", "RoomNotification"}})@:
    }
    if (Model.PageType == PageType.Session)
    {
        <strong>Ходы игроков</strong>
    }
    else
    {
        <a href="@Url.Action("LastUnread", "Post", new RouteValueDictionary {{"roomIdEncoded", singleRoom.RoomId.EncodeToReadable(singleRoom.Title)}})">
            Ходы игроков @Html.UnreadPostsIcon(singleRoom.UnreadCount, true)
        </a>
    }
}
else if (Model.Rooms.Any())
{
    @:- Ходы игроков:
    <ul class="leftMenu-list">
        @foreach(var room in Model.Rooms)
        {
            @await Html.PartialAsync("~/Views/GameActions/GameRooms/RoomLink.cshtml", room)
        }
    </ul>
}
else
{
    @:- Ходы игроков:
    <div class="moduleRooms-error-message">Вы не можете читать эту игру</div>
}