@using DM.Web.Classic.Extensions.IconFontExtensions
<div class="lightbox" id="@ViewBag.ID" style="@string.Format("width: {0}px; display: none;", ViewBag.Width ?? 452)">
    <a href="javascript:void(0)" class="lightbox-closeButton lightbox-close">@IconFont.Render(IconType.Close)</a>
    @RenderBody()
</div>