<div class="footerWrapper">
    <div class="footer-copyright content-leftColumn">&copy; DungeonMaster.ru, 2007-@DateTime.Now.Year</div>
    <div class="footer-info content-mainColumn">
    </div>
</div>