@using DM.Web.Classic.ViewComponents.Header
<div class="header-userInfo content-leftColumn">
    @await Component.InvokeAsync(nameof(UserActions))
</div>
<div class="header-topMenu content-mainColumn-wrapper">
    <div class="content-rightColumn">
    </div>
    <div class="content-mainColumn">
        @await Component.InvokeAsync(nameof(TopMenu))
    </div>
</div>