@using DM.Web.Classic.Extensions.IconFontExtensions
@model string
<div class="profile-picture-uploadForm" id="Upload_@Model">
    <div class="profile-picture-uploadForm-description" id="UploadDescription_@Model">
        <input type="file" name="files" class="profile-picture-uploadForm-input"
               data-url="@Url.Action("UploadPicture", "EditProfile")"
               id="UploadFileInput_@Model"/>
        @IconFont.Render(IconType.Upload) Загрузите изображение
    </div>
    <div class="profile-picture-uploadForm-progress" id="UploadProgress_@Model">
        <div class="profile-picture-uploadForm-progressBar-wrapper">
            <div class="profile-picture-uploadForm-progressBar" id="UploadProgressBar_@Model"></div>
            <div class="profile-picture-uploadForm-progressBar-fileName" id="UploadProgressFile_@Model"></div>
        </div>
    </div>
</div>
