@using DM.Services.Core.Dto.Enums
@model DM.Services.Core.Dto.Enums.UserRole
@if (Model != UserRole.Player)
{
    var roleTitles = new Dictionary<UserRole, string>
    {
        [UserRole.Administrator] = "Администратор",
        [UserRole.SeniorModerator] = "Хобгоблин",
        [UserRole.RegularModerator] = "Гоблин",
        [UserRole.NannyModerator] = "Гоблоняня"
    };
    <div class="profile-roles date">@string.Join(", ", Enum.GetValues(typeof(UserRole))
        .Cast<UserRole>()
        .Where(r => roleTitles.ContainsKey(r))
        .Where(r => Model.HasFlag(r))
        .Select(r => roleTitles[r]))</div>
}