panel()
  margin $small 0
  font-size $textFontSize

labeled-field()
  display flex
  margin $small 0
  align-items baseline

  & input
    flex-shrink 0

  &.error input
    theme(border-color, $negativeBorder)
    animation-name shake-error
    animation-duration $animationTime
    animation-timing-function ease-in-out

    &:focus
      themeExtend(box-shadow, inset 0 0 $minor, $negativeBorder)
  
  & label
    flex-shrink 0
    display inline-block
    min-width $gridStep * 30
    theme(color, $secondaryText)

.form-field
  labeled-field()

menu-item()
  margin $tiny 0
  &.selected
    font-weight bold

tab-links()
  display flex
  margin-bottom $medium

  & a
    margin-right $medium
    text-transform uppercase

a.router-link-exact-active
  theme(color, $text)
  font-weight bold

square($size)
  width $size
  height @width
  background-position center center
  background-repeat no-repeat
  background-size @width

$shakeDelta = $tiny
@keyframes shake-error
  0%
    transform translateX(0)
  15%
    transform translateX($shakeDelta)
  30%
    transform translateX(-($shakeDelta))
  45%
    transform translateX($shakeDelta)
  60%
    transform translateX(-($shakeDelta))
  75%
    transform translateX($shakeDelta)
  90%
    transform translateX(-($shakeDelta))
  100%
    transform translateX(0)

.tab-links
  margin-bottom $medium

.tab-link
  display inline-block
  margin-right $medium
  text-transform uppercase
