input[type='text'],
input[type='password'],
textarea
  position relative
  margin 0
  border 1px solid
  outline none
  theme(border-color, $border)
  theme(color, $text)
  border-radius $borderRadius
  padding 3px $minor
  font-family PT Sans
  font-size $fontSize
  background transparent
  transition all $animationTime
  &:focus
    themeExtend(box-shadow, inset 0 0 $minor, $border)
  &:-internal-autofill-selected
    theme(color, $text)
    background transparent

input[type='button'],
button
  padding ($minor + 1px) $small ($minor + 2px)
  margin 0
  min-width $gridStep * 25
  outline none
  border none
  border-radius $borderRadius
  theme(background-color, $buttonBackground)
  theme(color, $buttonText)
  cursor pointer
  font-family PT Sans
  font-size $fontSize
  transition all $animationTime
  &:hover
    theme(background-color, $buttonHoverBackground)
    theme(color, $buttonHoverText)
  &[disabled]
    theme(background-color, $buttonDisabledBackground)
    theme(color, $buttonDisabledText)
    cursor not-allowed
