$inputPadding = ($minor + 1px) $small

input()
  margin 0
  padding $inputPadding

  border 1px solid
  outline none
  border-radius $borderRadius

  theme(border-color, $border)
  theme(color, $text)
  background transparent
  transition all $animationTime

  font-family PT Sans
  font-size $fontSize
  theme(background-color, $inputBackground)

  &:focus
    themeExtend(box-shadow, inset 0 0 $minor, $border)

  &:disabled
    theme(background-color, $inputDisabledBackground)

  &:-internal-autofill-selected
    theme(color, $text)
    background transparent

button()
  margin 0
  padding $inputPadding

  border 1px solid
  outline none
  border-radius $borderRadius

  theme(background-color, $buttonBackground)
  theme(border-color, $buttonBackground)
  theme(color, $buttonText)
  transition all $animationTime

  cursor pointer
  font-family PT Sans
  font-size $fontSize

  &:hover
    theme(background-color, $buttonHoverBackground)
    theme(border-color, $buttonHoverBackground)
    theme(color, $buttonHoverText)
  &[disabled]
    theme(background-color, $buttonDisabledBackground)
    theme(border-color, $buttonDisabledBackground)
    theme(color, $buttonDisabledText)
    cursor not-allowed

input,
textarea
  input()

button
  button()
