/// Grid
$gridStep = 4px
$tiny = $gridStep / 2
$minor = $gridStep
$small = 2 * $gridStep
$medium = 4 * $gridStep
$big = 8 * $gridStep
$major = 16 * $gridStep
$large = 32 * $gridStep

/// layout
$maxWidth = 1400px
$minWidth = 1000px
$headerHeight = 90px
$footerHeight = 50px

menuContainer()
  margin 0 $big
  width $gridStep * 61
  flex-shrink 0

sidebarContainer()
  width $gridStep * 61
  flex-shrink 0
  margin-right $big
  @media (max-width: 1279px)
    display none

/// Animations
$animationTime = .2s
$slideUpHeight = 2000px

$fontSize = 14px
$textFontSize = 16px
$titleFontSize = 20px
$secondaryFontSize = 12px

$borderRadius = $minor;
