grid()
  display grid
  grid-template-columns \[title\] 40% \[date\] 11% \[author\] 14% \[count\] auto \[lastComment\] 26%
  justify-items stretch
  align-items stretch
  border-bottom 1px solid
  theme(border-bottom-color, $border)
