.paginator {
    text-align: center;
    font-size: 0;
}
.paginator-link {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #36a;
}
.paginator-link.active {
    border-bottom-width: 4px;
    padding-bottom: 2px;
    font-weight: bold;
}
.paginator-link:hover {
    border-bottom-color: #a36;
}

.paginator-fixed-wrapper {
    position: fixed;
    z-index: 1;
    top: 10px;
    text-align: center;
}
.paginator-fixed {
    display: none;
    background: rgba(68, 68, 68, 0.6);
    padding: 3px;
    border-radius: 5px;
}
.paginator-fixed.shown {
    display: inline-block;
}
.paginator-fixed .paginator-link {
    color: #fff;
    border-bottom-color: #fff;
}

.js-entity-wrapper {
    transition: all .3s;
}
.content-pagedEntity-highlighted {
    box-shadow: 0 0 10px 3px #cba;
}