.placeholder {
    display: inline-block;
    padding: 5px 5px;
    color: #8a8a8a;
    line-height: 1.28;
}
.placeholder-wrapper {
    position: absolute;
    width: 100%;
}
.placeholder-input-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    background: #fff;
    line-height: 0;
}