.popup {
    z-index: 32;
    display: none;
}
.lightbox-popupContainer {
    position: relative;
    z-index: 128;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}
.lightboxPopup {
    z-index: 128;
}
.sticky-popup {
    z-index: 48;
}
.popup.fixed-popup {
    z-index: 30;
}