@model DM.Web.Classic.Views.Shared.Commentaries.CommentariesViewModel

<h3 class="content-mediumTitle">Комментарии</h3>
<div id="Paginator" class="paginator"></div>
<div id="Container">
    @await Html.PartialAsync("Commentaries/CommentariesList", Model.Commentaries)
</div>
<div class="paginator-fixed-wrapper">
    <div id="PaginatorHover" class="paginator-fixed"></div>
</div>
@if (Model.CanCreate)
{
    @await Html.PartialAsync("Commentaries/CreateCommentary", Model.CreateCommentaryForm)
}
else
{
    <div class="content-noAccessMessage">@ViewData["NoAccessMessage"]</div>
}