@model DM.Web.Classic.Views.Shared.Commentaries.CommentaryViewModel[]
@if (Model.Length > 0)
{
    foreach (var comment in Model)
    {
        @await Html.PartialAsync("Commentaries/Commentary", comment)
    }
}
else
{
    <div id="NoCommentariesMessage">Здесь еще никто ничего не написал</div>
}