@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Shared.Commentaries.CreateCommentaryForm
<h3 class="content-minorTitle">Ваш комментарий</h3>
@using (Html.BeginForm("Create", "CreateCommentary", FormMethod.Post, new Dictionary<string, object> { {"id", "CreateForm" }}))
{
    @Html.HiddenFor(m => m.EntityId)
    <div class="createCommentary-wrapper">
        @await Html.SmartTextAreaFor(m => m.Text, Model.Parser,
                               "Введите текст комментария и нажмите Ctrl+Enter, чтобы отправить",
                               new Dictionary<string, object>
                                   {
                                       { "class", "commentary-textarea"}
                                   })
    </div>
    @Html.Submit("Добавить комментарий", new Dictionary<string, object>{{"class", "form-submit-button"}})
}