@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Shared.Commentaries.EditCommentaryForm
@using (Html.BeginForm("Edit", "EditCommentary", FormMethod.Post, new { id = string.Format("EditForm_{0}", Model.CommentaryId) }))
{
    @Html.HiddenFor(m => m.CommentaryId)
    <div class="editCommentary-wrapper">
        @await Html.SmartTextAreaFor(m => m.Text, Model.Parser,
                               "Введите текст комментария и нажмите Ctrl+Enter, чтобы отправить или Esc, чтобы отменить",
                               new Dictionary<string, object>
                                   {
                                       { "class", "commentary-textarea" }
                                   })
    </div>
    @Html.Submit("Сохранить изменения", new Dictionary<string, object>{{"class", "smallButton form-submit-button"}})
    <a href="javascript:void(0)" id="CancelEditLink_@(Model.CommentaryId)">Отменить</a>
}