@model DM.Web.Classic.Views.Error.ErrorViewModel

@{
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
    ViewBag.Title = string.Format("Ошибка {0}", Model.StatusCode);
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}

<h1 class="content-pageTitle">@ViewBag.Title</h1>

<h2 class="content-mediumTitle">@Model.Message</h2>

<div class="error-general-text">
    Случилось ужасное!
</div>
<div class="error-specific-text">
    @Html.Raw(Model.Text)
    @if (Model.StatusCode == 500)
    {
        <a href="@Model.Path">попробовать еще раз</a>@:.
    }
</div>

<img src="~/images/errors/@(Model.StatusCode).png" class="error-image" />

@section FooterScript
{
    <script>
        DM.Ready();
    </script>
}