.roomsList-character {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
}
.roomsList-character.ui-draggable-dragging {
    z-index: 99;
}
.roomCharacter-wrapper {
    display: inline-block;
    padding: 3px 7px;
    margin: 5px 10px 5px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: default;
}
.roomCharacter-wrapper:hover,
.roomCharacter-wrapper:focus {
    box-shadow: inset 0 0 7px #ccc;
}

.roomCharacter-deleteLink {
    display: inline-block;
    margin-left: 5px;
}