.room-wrapper {
    margin: 0 0 7px;
    padding: 7px;
    transition: background 0.15s;
}
.room-wrapper:nth-child(even) {
    background: #fafafa;
}
.room-wrapper:hover {
    background: #f9ffff;
    border: 1px dashed #eee;
    padding: 6px;
    border-radius: 5px;
}
.room-wrapper.room-wrapper-selected {
    background: #ffffee;
    border: 1px dashed #eee;
    padding: 6px;
}

.room-actions {
    float: right;
}

.room-characters {
    margin-top: 10px;
}

.form-field-label.editRoom-label {
    width: 130px;
}