.roomsList-wrapper {
    margin-top: 20px;
    overflow: hidden;
}

.roomsList-rooms {
    display: inline-block;
    overflow: auto;

    width: 65%;
    max-height: 1000px;
    min-height: 1px;
    padding-right: 20px;

    box-sizing: border-box;
    vertical-align: top;
}

.roomsList-characters {
    display: inline-block;
    overflow: auto;

    width: 34%;
    max-height: 1000px;

    vertical-align: top;
}

.roomsList-charactersHeader {
    margin: 7px 0;
}