.create-warning-form {
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 10px;
}

.create-warnings-points-value {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
}