.warning {
    border: 1px solid #ecc;
    padding: 5px;
    background-color: #fee;
    margin-top: 10px;
}

.warning-wrapper {
    position: relative;
}

.warning-actions {
    position: absolute;
    bottom: 0; right: 0;
    opacity: 0;
    transition: opacity .2s;
}
.warning-wrapper:hover .warning-actions {
    opacity: 1;
}

.warning-content {
    margin: 0 0 5px;
    font-size: 16px;
}

.warning-data {
    font-size: 12px;
    color: #8a8a8a;
}

.warning-points {
    font-weight: bold;
    font-size: 14px;
}

.warning-soft {
    color: #a88100;
}

.warning-hard {
    color: #900;
}