@model DM.Web.Classic.Views.Chat.ChatViewModel
@{
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
    ViewBag.Title = "DM.FM";
}
@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}

<h1 class="content-pageTitle">@ViewBag.Title</h1>

<div class="chat-wrapper" id="ChatContainer">
    @if (Model.Messages.Any())
    {
        <div style="text-align: center">
            <a href="#" id="ChatOlderEntriesLink">&uarr; Прочитать старые сообщения</a>
        </div>
    }
    <div class="chat-messages-wrapper" id="ChatMessagesWrapper">
        @await Html.PartialAsync("~/Views/Chat/ChatMessages.cshtml", Model)
        @if (!Model.Messages.Any())
        {
            <div class="chat-placeholder-wrapper" id="NoPostsMessage">
                <span class="chat-placeholder">В чате еще не написано ни одного сообщения</span>
            </div>
        }
    </div>
</div>

@if (Model.CanChat)
{
    @await Html.PartialAsync("~/Views/Chat/CreateMessage/CreateMessage.cshtml", Model.CreateForm)
}
else
{
    <div class="content-noAccessMessage">Вы не можете оставлять сообщения в чате.</div>
}

@section FooterScript
{
    <script>
        var chat = new DM.ChatControl({
            loadOlderEntriesUrl: "@Url.Action("Index", "Chat")",
            createMessageFormId: "CreateForm"
        });
        DM.Ready();
    </script>
}
