@use "Variables"
@use "Themes"

@mixin grid($template)
  display: grid
  grid-template-columns: $template
  justify-items: stretch
  align-items: stretch
  & > *
    padding: Variables.$small Variables.$minor

@mixin grid-head($template)
  +grid($template)
  border-bottom: 1px solid
  +Themes.theme(border-bottom-color, Themes.$border)
  +Themes.theme(background-color, Themes.$panel-background)