@use "Variables"
@use "Themes"

$input-padding: (Variables.$minor + 1px) Variables.$small

@mixin input()
  margin: 0
  padding: $input-padding

  outline: none
  border-radius: Variables.$border-radius

  font-family: "PT Sans", sans-serif
  font-size: Variables.$font-size

  +Themes.theme(color, Themes.$text)
  +Themes.theme(background-color, Themes.$input-background)
  +Themes.theme(border, Themes.$border, 1px solid)

  &:disabled
    +Themes.theme(background-color, Themes.$input-background-disabled)

@mixin button()
  margin: 0
  padding: $input-padding

  outline: none
  border-radius: Variables.$border-radius

  cursor: pointer
  font-family: "PT Sans", sans-serif
  font-size: Variables.$font-size
  transition: Variables.$animation-time

  +Themes.theme(color, Themes.$button-text)
  +Themes.theme(background-color, Themes.$button-background)
  border: 1px solid transparent

  &:hover
    +Themes.theme(color, Themes.$button-text-hover)
    +Themes.theme(background-color, Themes.$button-background-hover)

  &[disabled]
    cursor: not-allowed
    +Themes.theme(color, Themes.$button-text-disabled)
    +Themes.theme(background-color, Themes.$button-background-disabled)

input,
textarea
  +input()
