@model IEnumerable<DM.Web.Classic.Views.GameInfo.Characters.CharacterViewModel>
<div class="charG-34 charactersList-header">
    <div class="charG-row">
        <div class="charG-col-1 charG-span-6">
            <div class="charG-contentWrapper">Игрок</div>
        </div>
        <div class="charG-col-7 charG-span-4">
            <div class="charG-contentWrapper">Рейтинг</div>
        </div>
        <div class="charG-col-11 charG-span-3">
            <div class="charG-contentWrapper">Присутствие</div>
        </div>
        <div class="charG-col-14 charG-span-10">
            <div class="charG-contentWrapper">Персонаж/Раса/Класс</div>
        </div>
        <div class="charG-col-24 charG-span-2">
            <div class="charG-contentWrapper">Ходов</div>
        </div>
        <div class="charG-col-26 charG-span-6">
            <div class="charG-contentWrapper">Последний ход</div>
        </div>
        <div class="charG-col-32 charG-span-3">
            <div class="charG-contentWrapper">Статус</div>
        </div>
    </div>
</div>
@foreach(var character in Model)
{
    @await Html.PartialAsync("~/Views/GameInfo/Characters/Character.cshtml", character)
}