@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Chat.CreateMessage.CreateChatMessageForm
@using (Html.BeginForm("CreateMessage", "Chat", FormMethod.Post, new Dictionary<string, object> { { "id", "CreateForm" }, {"class", "chat-createForm"} }))
{
    <div class="form-field-wrapper">
        <div class="form-field-sta-value">
            @await Html.SmartTextAreaFor(m => m.Text, Model.Parser)
        </div>
    </div>
    @Html.Submit("Отправить сообщение", new Dictionary<string, object> { { "class", "form-submit-button" } })
}