block()
  margin $small 0
  padding $minor
  border 1px solid
  theme(border-color, $border)
  theme(background, $blockBackground)
  font-size $textFontSize

.form
  display grid
  grid-template-columns \[label\] $gridStep * 25 \[input\] auto
  grid-row-gap $small
  align-items center
