/// Grid
$gridStep = 4px
$tiny = $gridStep / 2
$minor = $gridStep
$small = 2 * $gridStep
$medium = 4 * $gridStep
$big = 8 * $gridStep
$major = 16 * $gridStep
$large = 32 * $gridStep

/// Animations
$animationDuration = 0.2s
