.foraList-item {
    margin: 10px 0;
    padding: 5px 0 0;
    border-top: 1px solid #ccc;
}
.foraList-item:first-child {
    border-top: none;
}

.foraList-item-link {
    display: block;
    padding: 5px;
}
.foraList-item-link:hover {
    background: #fafafa;
}
.foraList-item-title {
    font-size: 18px;
}
.foraList-item-description {
    display: block;
    color: #333;
}

.foraList-item-info {
    padding: 0 5px;
    margin: 5px 0;
}
.current-forum {
    color: #333;
    font-weight: bold;
}