.commentary-submit {
    margin: 5px 10px 0 0;
}
.comment {
    position: relative;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background: #fafafa;
}

.comment-wrapper {
    position: relative;
}

.comment-actions {
    position: absolute;
    bottom: 0px;right: 0px;
    opacity: 0;
    transition: opacity .2s;
}
.comment-wrapper:hover .comment-actions {
    opacity: 1;
}

.comment-content {
    margin: 0 0 5px;
    font-size: 16px;
}
.comment-lastUpdateMessage {
    font-size: 12px;
    color: #8a8a8a;
}
.comment-data {
    font-size: 12px;
    color: #8a8a8a;
}

.editCommentary-wrapper {
    margin-bottom: 5px;
}
.createCommentary-wrapper {
    margin-bottom: 5px;
}

.comment-likes-wrapper {
    display: inline-block;
    margin-left: 5px;
    opacity: 0;
    transition: opacity .2s;
}
.comment-likes-wrapper.comment-likes-wrapper-hasLikes {
    opacity: 1;
}
.comment-wrapper:hover .comment-likes-wrapper {
    opacity: 1;
}
.comment-likes-wrapper.comment-likes-wrapper-hasLikes .comment-likes,
.comment:hover .comment-likes {
    opacity: .5;
}
.comment-likes {
    color: #3f78a8;
    transition: opacity .2s;
}
.comment-likes-active {
    opacity: 1 !important;
}
.comment-likes-icon {
    vertical-align: top;
}