.charactersList-header {
    background: #eee;
    white-space: nowrap;
    font-size: 12px;
}
.charactersList-characterRow {
    border-bottom: 1px solid #ccc;
}
.charG-contentWrapper {
    padding: 0 5px;
}