.attribute-wrapper.form-field-wrapper {
    display: list-item;
    position: relative;
    padding: 0 10px;

    list-style-position: inside;

    border: 1px solid #ddd;
    border-radius: 5px;
}
.attribute-wrapper.ui-sortable-helper,
.attribute-constraints-list-item.ui-sortable-helper {
    list-style-type: none;
}
.attribute-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.attribute-main-settigns {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.attribute-removeLink {
    position: absolute;
    display: block;
    right: 5px;
    top: 3px;
    font-size: 16px;
}

.attribute-specification-placeholder {
    display: list-item;
    margin: 10px 0;

    list-style-type: none;
    background: #f9ffff;

    outline: 1px dashed #eee;
    border-radius: 5px;
}

.attribute-type-dropdown {
    width: 150px;
}
.attribute-constraints-wrapper,
.attribute-constraints-type {
    display: none;
}
.attribute-constraints-wrapper {
    padding: 0 0 10px;
}
.attribute-constraints {
    position: relative;
    margin-top: 10px;
}
.attribute-constraints-title-wrapper {
    margin: 10px -10px;
    height: 0;
    border-top: 1px solid #ddd;
}
.attribute-constraints-title {
    display: block;
    margin: -10px 20px;
    background-color: #fff;
    width: 110px;
    text-align: center;
}
.attribute-constraints-title-arrow-up {
    display: none;
}

.attribute-constraints-number {
    width: 60px;
}

.attribute-constraints-list-item {
    display: block;
    list-style-type: none;
    margin: 10px 0 5px;
}
.attribute-constraints-list-item:first-child {
    margin-top: 0;
}


.field-validation-error.field-validation-error-next-line.field-validation-error-attribute-name {
    margin-left: 117px;
}

.attribute-constraints-value-modifier-input {
    width: 40px;
}