.module-generalOptions {
    width: 300px;
}
.module-generalOptions,
.module-extendedOptions-wrapper {
    display: inline-block;
    vertical-align: top;
}
.module-extendedOptions-wrapper {
    margin-left: 40px;
}
.module-extendedOptions-link {
    display: inline-block;
    margin-top: 15px;
}
.module-extendedOptions {
    margin: 10px 0;
    display: none;
}

.module-attributes-scheme-dropdown {
    width: 160px;
}
.module-attributes-general-input {
    width: 162px;
}
.module-attributes-scheme-error {
    display: none;
    margin-top: 5px;
    vertical-align: top;
}

.form-field-value-text.create-module-tags {
    padding-top: 0;
}
.dropdownmultiselect-dropdown {
    margin-bottom: 5px;
}
.tags-dropdown-options.dds-options {
    width: 450px;
    overflow: hidden;
    max-height: initial;
}
.tags-dropdown-options .dds-option-group {
    float: left;
    width: 150px;
}