.dropdownmultiselect-dropdown {
    margin-bottom: 5px;
}
.tags-dropdown-options.dds-options {
    width: 450px;
    overflow: hidden;
    max-height: initial;
}
.tags-dropdown-options .dds-option-group {
    float: left;
    width: 150px;
}

.module-generalOptions {
    width: 300px;
}
.module-generalOptions,
.module-extendedOptions-wrapper {
    display: inline-block;
    vertical-align: top;
}
.module-extendedOptions-wrapper {
    margin-left: 40px;
}