.modulesList-header {
    background: #eee;
    white-space: nowrap;
    font-size: 12px;
}
.modulesList-item-wrapper {
    border-bottom: 1px solid #ccc;
}
.modulesG-contentWrapper {
    padding: 0 5px;
}