.toggle-list-link {
    cursor: pointer;
}

.toggle-list-link::after {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    font-family: Iconic!important;
    font-weight: normal!important;
    -webkit-font-smoothing: antialiased;

    content: ' \e04c';
}
.toggle-list-link.hidden::after {
    content: ' \e04a';
}

.modulesList-item {
    display: flex;
    margin: 3px 0;
    justify-content: space-between;
}
.modulesList-allLink {
    font-weight: bold;
}
.module-new {
    color: #337b33;
}
.module-messageRequired {
    color: #a33;
}
.current-module {
    font-weight: bold;
    color: #333;
}