.module-info {
    margin: 20px 0;
}
.module-info-item {
    margin: 5px 0;
}
.module-info-field {
    float: left;
    width: 100px;
}
.module-info-value {
    display: block;
    overflow: hidden;
}
.module-characters {
    margin: 20px 0;
}
.module-description {
    font-size: 16px;
}